<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
  LensKit &mdash; {{title}}
</title>
<link rel="icon" type="image/png" href="//lenskit.org/lk-logo.png">
<link rel="stylesheet" href="/s/site.css">
<link rel="stylesheet" type="text/css"
    href="https://esm.sh/emfed@1/toots.css">
{{#meta}}
<meta name="{{name}}" content="{{value}}">
{{/meta}}
  {{#scripts}}
  <script src="{{this}}" async></script>
  {{/scripts}}
</head>
<body>
<header class=top-head>
  <h1><a href="/">LensKit</a></h1>
  <nav class="top-nav" role="navigation">
    <ul class=menu>
      <li><a href="https://lkpy.lenskit.org">Documentation</a></li>
      <li><a href="/research">Research</a>
    </ul>
  </nav>
</header>
<div class=shell>
  {{#if bare}}
    {{{contents}}}
  {{else}}
  <article class="main">
    {{{contents}}}
  </article>
  {{/if}}
</div>
<footer>
  Copyright © 2018–2022 Boise State University and LensKit Contributors.<br>
  Problems? Suggestions? This site is <a href="https://github.com/lenskit/lenskit.org">public on Github</a>.
</footer>
<script data-goatcounter="https://lenskit.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</body>
</html>
