:root {
  --text-font: "Bitter";

  --head-bg: #2e3436;
  --head-text: #eeeeec;
}

@custom-media --desktop (min-width: 700px);

html {
  font-family: var(--text-font);
}

body {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  line-height: 1.4em;
}

/* top navigation */
.top-head {
  background-color: var(--head-bg);
  color: var(--head-text);
  padding: 0 1em;

  a:link, a:visited {
    color: var(--head-text);
  }

  @media(--desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 1rem;
      display: flex;
      flex-grow: 0;
    }

    nav {
      flex-grow: 0;
      
      ul {
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 100%;

        li {
          text-align: right;
          display: block;
          list-style: none;
          padding: 0 1ex;
        }
      }
    }
  }
}

/* main content  */
.shell {
  padding: 1em;
}

/* body */
.shell article.main {
  max-width: 9in;
  margin: 0 auto;
}

/* footer */
footer {
  text-align: center;
  font-style: italic;
  font-size: 0.8rem;
  padding: 0 1rem 1rem;
}

/* home page banner */
.homepage {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  section, .element {
    width: 100%;
    text-align: center;
  }

  .banner {

    .logo {
      margin-top: 1em;
      width: 90%;
    }

    .tagline {
      font-style: italic;
      font-size: 1.2rem;
      margin-top: 1em;
    }
  }

  .usecase {
    margin-top: 1em;

    .uc-logo {
      height: 1in;
    }
  }

  .history {
    font-style: italic;
  }
  .infobox {
    &, section {
      text-align: left;
    }
  }

  @media(--desktop) {
    .banner {
      .logo {
        width: 5in;
      }
    }

    .usecase {
      max-width: 4.5in;
      width: auto;
    }

    .infobox {
      width: 60%;
    }
    .twitterbox {
      width: 40%;
    }
  }
}

/* citations */
.citation {
  padding: 0 2em 0 4em;
  text-indent: -2em;
}

pre {
  padding-left: 2em;
}